/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

body{
    font-family:'SansationRegular';
    font-size: 12px;
}
h2{
    font-size: 40px;
    text-transform: uppercase;
}

.main{
    width: 1000px;
    margin: 0 auto;
    position: relative;
}
.header{
    height: 60px;
    clear: both;
    position: absolute;
    border-bottom: 1px solid #695f89;
}
.logo{
    float: left;
    margin: 20px 0 0 30px;
}
.logo>a{
    display: inline-block;
    width: 65px;
    height: 18px;
    background-image: url("./images/logo.png");
}
.headerMenu{
    float: left;
    margin-top: 20px;
}
.headerMenu li{
    float: left;
    margin-left: 60px;
    font-size: 16px;
}
.headerMenu li a{
    text-decoration: none;
    color: #ffffff;
}

.headerMenu .activ, .headerMenu li a:hover{
    color: #097e89;
}

.headerSocial{
    float: left;
    margin: 15px 0 0 27px;
    padding: 0 22px 0 0;

}
.headerSocial>a{
    display: inline-block;
    width: 25px;
    height: 30px;
}
.headerFacebook{
    background: url("./images/fb_icon_1.png") center no-repeat;
}
.headerTwitter{
    background: url("./images/tw_icon_1.png") center no-repeat;
}
.headerGoogle{
    background: url("./images/g_icon_1.png") center no-repeat;
}


.jumbotron{
    height: 490px;
    padding-top:60px;
    background: url("./images/banner_bg.png") center no-repeat;
   /* z-index: 1;*/
}
.jumbotronTextBox{
    height: 196px;
    width: 538px;
    margin:125px auto 0 auto;
    padding-top: 1px;
    background: url("./images/jumbotrontextboxborder.png") center no-repeat;
    text-align: center;
    color: #ffffff;
}
.jumbotronTextBox h1{
    font-size: 48px;
    font-weight: bold;
    margin-top: 45px;
    text-transform: uppercase;
}
.jumbotronTextBox p{
    font-size: 10px;
    width: 333px;
    margin: 30px auto 0 auto;
}
.jumbotronTextBox a{
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    display: inline-block;
    width: 106px;
    height: 31px;
    border: 3px solid #ffffff;
    box-sizing: border-box;
    margin-top: 35px;
    padding-top: 6px;
}
.about{
    /*height:415px;
    background: url("./images/rectangle_3.jpg") center no-repeat;
    background-position: -100px -60px;*/
}
.container{clear: both;}
.aboutImage{
    width: 498px;
    height:415px;
    min-height: 10px;
    background: url("./images/rectangle_3.jpg") center no-repeat;
    background-size: 150%;
    background-position: -65px -12px;
    float: left;
}
.aboutText{
    width: 502px;
    float: left;
    background: url("./images/backgroundwhite.png") center repeat;
    box-sizing: border-box;
    padding: 50px 70px 0 45px;
}
.aboutText h3{
    font-size: 24px;
    color: #252525;
    margin-bottom: 32px;
    border-bottom: 1px solid #515151;
    padding-bottom: 12px;
}

.aboutText p{
    font-size: 13px;
    margin-bottom: 24px;
}
.aboutText a{
    font-size: 11px;
    display: inline-block;
    background-color: #05a0af;
    border-radius: 2px;
    width: 161px;
    height: 24px;
    color: #ffffff;
    text-decoration: none;
    box-sizing: border-box;
    padding: 8px 0 0 22px;
    margin-top: 30px;
}
.service, .feedback{
    color: #ffffff;
    text-align: center;
    background-color: #3d3d3d;
}
.service h2, .feedback h2{
    box-sizing: border-box;
    padding: 56px 0 53px 0;
    color: #ffffff;
    background-color: #373737;
    position: relative;
}
.service h2::after, .service h2::before, .feedback h2::after, .feedback h2::before{
    content: " ";
    position: absolute;
    height: 3px;
    width: 72px;
    background-color: #ffffff;
    top: 89px;
}
.service h2::after, .feedback h2::after{
    left: 650px;
}
.service h2::before, .feedback h2::before{
    left: 275px;
}
.serviceItem{
    width: 33%;
    float: left;
    background: url("./images/web_developmen.png") no-repeat;
    background-position: center 145px;
    background-color: #3d3d3d;
    padding: 270px 2px 135px 1px;
}
.serviceItem:nth-child(3){
    padding-right: 3px;
}
.serviceItem:hover{
    background-color: #097e89;
}
.serviceItem h3{
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
}

.serviceItem p{
    padding: 20px 17px 32px 18px;
    font-size: 14px;
}
.serviceItem a{
    background-color: #959595;
    text-decoration: none;
    color: #ffffff;
    display: inline-block;
    border-radius: 2px;
    padding: 9px 25px 10px 25px;
}
.feedback{
    height: 420px;
}
.feedbackDescription{
    float: left;
    width: 225px;
    margin: 69px 55px 0 54px;
    font-size: 18px;
}
.feedbackDescription>p{
    line-height: 24px;
}
.feedbackScroll{
    box-sizing: border-box;
    padding: 62px 0 0 0;
    background: url("./images/textfeedback.png") no-repeat;
    background-position: center 21px;
    font-size: 14px;
}
.feedbackScroll>p{
    width: 180px;
    float: left;
    padding-top: 6px;
}
.feedbackScrollBefore, .feedbackScrollNext{
    width: 17px;
    height: 25px;
    display: inline-block;
    float: left;
}
.feedbackScrollBefore{
    background: url("./images/feedbackScrollBefore.png") center no-repeat;
}
.feedbackScrollNext{
    background: url("./images/feedbackScrollNext.png") center no-repeat;
}
.feedbackItem{
    float: left;
    position: relative;
    width: 202px;
    height: 223px;
    margin: 27px 20px 0 0;
}
.feedbackItem span, .feedbackItem div{
    position: absolute;
    color: #515151;
    background-color: #ffffff;
    bottom: 9px;
    box-sizing: border-box;
}
.feedbackItem span{
    left: 9px;
    height: 33px;
    width: 43px;
    padding: 12px 0 0 0;
    font-size: 10px;
}
.feedbackItem div{
    left: 57px;
    height: 33px;
    width: 136px;
    text-align: left;
    padding: 4px 0 0 5px;
}
.clients{
    color: #656464;
    text-align: center;
    background-color: #ffffff;
}
.clients h2{
    box-sizing: border-box;
    padding: 56px 0 53px 0;
    color: #656464;
    position: relative;
}
.clients h2::after, .clients h2::before{
    content: " ";
    position: absolute;
    height: 3px;
    width: 72px;
    background-color: #656464;
    top: 89px;
}
.clients h2::after{
    left: 650px;
}
.clients h2::before{
    left: 275px;
}

.clientsItem{
    float: left;
    margin: 100px 0px 0px 0px;
    width: 25%;
    text-align: center;
    height: 200px;
    position: relative;
}
.clientsItem a{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) }
}